/*.layout {
    background-color: #;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}*/

.mainContainer {
    background: #FFD5DE;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 88%;
    top: 0;
    left: 0;
    position: fixed !important;

}

#header {
    background-color: #FD6E8A;
}

#header h1 {
    color: #f8f5ef;
    padding: 2%;
    font-size: 30px;
}

.centralContainer {
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;

}

.infoContainer {
    position: absolute;
    top: 87%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;
    text-align: center;
}

.ribbon {
    background: none repeat scroll 0% 0% #2D3E50;
    color: #AAA;
}


.pure-button-primary {
    background-color: #FF3E64 !important ;
}

.git-icon {
    background: url('https://lh6.googleusercontent.com/-3BKTe8YFlbA/AAAAAAAAAAI/AAAAAAAAAF8/8gbU5TTLyUw/photo.jpg?sz=48');
    height: 50px;
    width: 50px;
    position: inherit;
    z-index: inherit;
    margin-left: 47.5%
}

#loader {
    height:40px;
    width: 40px;
    margin: 10px;
}

.with-padding {
    padding: 2%;
}

.pure-g {
    letter-spacing: inherit !important;
}