#fetcherButton {

    height: 270px;
    width: 270px;
    border-radius: 100%;
    margin: 0;
    padding: 0;
    border: none;

}

#fetcherButton i {
    font-size: 130px;
    color: hotpink;
    background-color: pink;
    border-radius: inherit;
    padding: 47px;
}